{% extends "AppPizzas/padre.html" %}


{% load static %}


{% block titulo %}

SOBRE MÍ

{% endblock %}


{% block content %}
                    
<p>Soy Jazmin Wong de Lima-Perú interesada por el análisis de datos. Estudié Ingeniería de la Información en la Universidad del Pacífico.</p>
<p>    En mis tiempos libres me gusta armar rompecabezas, manejar bicicleta y viajar.</p>
<p>   Soy amante de la buena comida, mis platos favoritos son los tallarines verdes, olluquito y causa.</p>


{% endblock %}